<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Error</title>
    <link rel="icon" href="../assets/diamond.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../style.css"> -->
</head>

<body style="background-image: url('../assets/ml-building.jpg'); background-size: cover;background-repeat:no-repeat">
    <div class="card w-50 mx-auto text-center mt-5">
        <div class="card-header">
                <img src="../assets/hlLogo.png" alt="" class="img-fluid mx-auto w-50">
        </div>
        <div class="card-body pt-5 pb-5">
            <h1 class="card-title">Oh no!</h1>
            <br>
            <h2 class="card-text">Service Error</h2>
            <p style="font-weight:500">There was an error with your request.</p>
            <!-- <a href="#" class="btn btn-sm btn-danger">Send Email</a> -->
        </div>
        <div class="card-footer text-muted pt-2 pb-2">
            <p class="m-0" style="font-size: 0.9rem;">Copyright © <span id="footer-year"></span> MLhuillier Financial Services, Inc.</p>
            <p class="m-0" style="font-size: 0.9rem;">All Rights Reserved.</p>
        </div>
    </div>
    <script src="../scripts/web-script.js">

    </script>
</body>

</html>