<div style="border: 1px solid #ebebeb;padding:35px 5px 35px 5px;width: 100%;padding: 24px 0 16px 0;background-color: #f5f5f5;
    text-align: center;font-family:Arial, Helvetica, sans-serif;">
    <div class="header">
        <div>
            <img src="https://d33wubrfki0l68.cloudfront.net/09bb9e6f9a3b78b93d963887e4d709e7c97da0bc/11cbf/img/ml-logo.png"
                alt="ml-logo" width="260">
        </div>
    </div>
    <br>
    <br>
    <div
        style="width:85%; background: white; border-top:10px solid red;margin:auto;padding-top: 25px;padding-bottom:25px;border-radius:3px">
        <h2>New Application</h2>
        <p>{{appId}}</p>
        <p>{{date}}</p>
    </div>
    <br>
    <p style="text-align: center;font-style: italic;color: red; font-size: 0.8rem">This is a sytem generated email.
        Please do not reply.</p>
</div>